@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Lato", serif;
}

.logo-font {
    font-family: "Square Peg", "Bradley Hand";
}

.nav-font {
    font-family: "Kite One", "Bradley Hand";
}

.text-shadow {
    text-shadow: -1px -1px 0 rgb(0 0 0 / 50%), 1px -1px 0 rgb(0 0 0 / 50%),
        -1px 1px 0 rgb(0 0 0 / 50%), 1px 1px 0 rgb(0 0 0 / 50%);
}
